.App {
  height: 100vh;

  .status-bar {
    height: 20px;
  }

  .question-area {
    flex: 1 1;

    .question-body {
      flex: 1 1;
    }
  }

  button.btn-answer {
    width: 60%;
    border: 1px solid black !important;
    border-radius: 5px;
    background: #aaaaaa;

    &.answer-click {
      color: white;
      background: black;
    }
    &.answer-correct {
      background: white;
    }
    &.answer-incorrect {
      opacity: .5;
    }
  }

  .score-bar {
    height: 30px;
    background: white;
    border: 1px solid black;

    .bg-dark {
      background: black !important;
    }
    .bg-secondary {
      background: #aaaaaa !important;
    }
    .bg-light {
      background: #eeeeee !important;
    }
  }
}
